/* body{
    overflow: none;
    
} */
.bodyclassao {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow: none; */
    background-color: #003859;
    
}



.btcontainerao {
 
    padding: 1px 12px;
    height: 100%;
}

.profile_mainao {
    margin: 35px 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 20px;
    /* overflow: scroll */
    overflow-y: scroll; 
    height: auto;
    width: auto;
    overflow-x: visible;
    margin-left: 10rem;
}

.profile_mainao h2 {
    padding: 15px 5px 5px 2px;
    color:black;
}

/* .info {
    text-align: center;
    overflow-x:auto;
} */
.tabledivao{
    margin:5px 90px 10px 10px;
}
.tableao,
.thao,
.tdao{
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    margin: 20px 90px 10px 10px;
    padding: 10px;
}

.trao:nth-child(even) {background-color: #f2f2f2;}
.trao:hover {background-color: coral;}
.thao:hover {background-color: #003859;
    color:white}