:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
}

.bodyclassrp {
    background: #003859;
    
}



.btcontainer {
    margin-left: 25%;
    padding: 1px 16px;
    height: 575px;
}

.rp_main {
    margin: 96px 130px;
    padding-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 450px;
    border: 1px solid #000;
    border-radius: 8px;

}

.rp_main h2 {
    /* padding: 25px 5px 5px 15px; */
    padding: 20px 0px 5px 0px;
    text-align: center;
    color:black

}

.reset_form_content {
    padding: 15px;
    text-align: center;
}

.reset_form_content .input_tag {
    padding: 3px 5px;
}

.reset_form_content .input_tag input {
    font-size: 16px;
    width: 80%;
    padding: 5px 1px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #747474;

}

.reset_form_content .input_tag .username {
    padding: 10px 1px;
    background: url("../../usericon.png") no-repeat left;
    background-size: 20px;
    padding-left: 30px;
}

.reset_form_content .input_tag .pass {
    padding: 10px 1px;
    background: url("../../passicon.png") no-repeat left;
    background-size: 20px;
    padding-left: 30px;
}

.reset_form_content .input_tag::placeholder {
    text-transform: uppercase;
}

.reset_form_content .button_tag button {
    padding: 0px;
    color: white;
    background-color: #c46352;
    border-radius: 4px;
    width: 375px;
    height: 40px;
    margin: 10px;
    margin-bottom: 10px;
}

.reset_form_content .button_tag button:hover {
    background-color: cadetblue;

}

.twolinks {
    margin-top: 5px;
    display: flex;
    flex-direction: row;


}

.rp_main .twolinks button {

    color: black;
    background-color: #8fb1e9;
    border: none;
    width: 100%;
    padding: 15px;
}

.rp_main .twolinks button:hover {
    background-color: khaki;
}

.rp_main .twolinks button a {
    text-decoration: none;
    color: black;
}


/* validations */
.input_tag.error input {
    border-color: var(--error-color);
}

.input_tag.success input {
    border-color: var(--success-color);
}

.input_tag small {
    color: var(--error-color);
    /* flex-wrap: nowrap; */
}