.bodyclassdb {
  background: #003859;
  
}

  
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8rem;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    padding: 15px;
  }
  
  li a.active {
    background-color: orange;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #fff;
    color: #003859;
  }
  .logout{
    color: #fff;
  }
  .header {
    margin: 15px
  }
  
  .downdi{
    /* margin-left:15%; */
    /* padding:1px 1px; */
    height:570px;
  }