

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
* {
    margin: 0;
    padding: 0;
}

.bodyclassfp {
    background: #003859;
    
}

.fp_main {
    margin: 125px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 525px;
    border-radius: 4px;
}

.fp_main h2 {
    /* padding: 35px 5px 5px 15px; */
    padding: 35px 0px 5px 0px;
    text-align: center;
    color: black;


}

.fp_form_content {
    padding: 15px;
    text-align: center;
}

.fp_form_content .input_tag {
    padding: 12px 5px;
    text-align: center;
    display: table-row;
}

.fp_form_content .input_tag label{
    display: table-cell;
    text-align: left;
    /* padding: 5px; */
    font-size: 16px;
    padding: 10px 10px 10px 60px;
    /* margin-left: 20px; */

}
.fp_form_content .input_tag input {
    font-size: 16px;
    width: 90%;
    padding: 10px 1px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #747474;
    display: table-cell;
    

}

.fp_form_content .input_tag .email {
    padding: 10px 1px;
    background: url("../../emailicon.png") no-repeat left;
    background-size: 20px;
    padding-left: 30px;
}


.fp_form_content .input_tag::placeholder {
    text-transform: uppercase;
}

.fp_form_content .button_tag input {
    padding: 0px;
    color: white;
    background-color: #c46352;
    border-radius: 4px;
    width: 375px;
    height: 40px;
    margin: 10px;
    /* margin-bottom: 10px; */
    margin-top: 20px;
}

.fp_form_content .button_tag input:hover{
    background-color:cadetblue;
    
}

.twolinks {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

/* .fp_main  .twolinks button {

    color: black;
    background-color: #8fb1e9;
    border: none;
    width: 100%;
    padding: 15px;
}
.fp_main .twolinks button:hover {
    background-color: khaki;
   }
.fp_main .twolinks button a{
    text-decoration: none;
    color: black;
} */
.twolinks {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    background-color: #8fb1e9;
}
.twolinks:hover{
    background-color: khaki;
}

 .fp_main .twolinks a {

    color: black;
    background-color: #8fb1e9;
    border: none;
    width: 100%;
    padding: 15px;
    text-decoration: none;
}

.fp_main .twolinks a button {

    color: black;
    background-color: #8fb1e9;
    border: none;
    width: 100%;
    text-align: center;
    /* margin-left: 210px; */
    
}
.fp_main .twolinks a:hover button {

    color: black;
    background-color: khaki;
    border: none;
    width: 100%;
    text-align: center;
    /* margin-left: 210px; */
    
}

.fp_main .twolinks a:hover {
background-color: khaki;
text-decoration: none;
    color: black;
}
.fp_main .twolinks a:hover button:hover {
    background-color: khaki;
    }



/* validations */
.input_tag.error input {
    border-color: var(--error-color);
}

.input_tag.success input {
    border-color: var(--success-color);
}

.input_tag small {
    color: var(--error-color);
    /* flex-wrap: nowrap; */
}

